#!/usr/bin/env bash

alias python="/usr/local/bin/python3"
alias pip="/usr/local/bin/pip3"
alias numfmt="gnumfmt"
alias k="kubectl"
alias containers="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'"
alias containersPorts="docker ps --format 'table {{.ID}}\t{{.Status}}\t{{.Ports}}\t{{.Names}}'"
