#!/bin/bash

alias python="/usr/local/bin/python3"
alias pip="/usr/local/bin/pip3"
alias numfmt="gnumfmt"
alias k="kubectl"
alias dk="docker"
alias temperature="sudo powermetrics --samplers smc | grep -i \"CPU die temperature\""
alias lsc='colorls -1 -a'
alias nv="nvim"
