#!/usr/bin/bash bash

export EDITOR='vim'

### Go
export GOPATH=$HOME/Projects/go
export GOBIN=$HOME/Projects/go/bin
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:$GOPATH/bin:$GOROOT/bin"
export GO111MODULE=auto
