#!/usr/bin/bash bash

export EDITOR='vim'

### Go
export GOPATH=$HOME/Projects/go
export GOBIN=$HOME/Projects/go/bin
export GO111MODULE=auto
export GOROOT=/usr/local/go

export PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig
